@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-main: rgb(108, 244, 239);
  --color-red: #f6465d;
  --color-green: #0ecb81;
  --color-bg: rgb(24,26,31);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #374151;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* range slider */
.rangeThumb {
  width: 10px;
  height: 10px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

.rangeTrack {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #b2b2b2;
}

.range {
  position: relative;
  width: 100%;
  height: 2px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}

/* Thumb */
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  margin: -5px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

.range input::-moz-range-thumb {
  width: 10px;
  height: 10px;
  margin: -5px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

.range input::-ms-thumb {
  width: 10px;
  height: 10px;
  margin: -5px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

.back-drap-grow {}
/* Track */
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #b2b2b2;
}

.range input::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #b2b2b2;
}

.range input::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #b2b2b2;
}

/* Focus */
.range input:focus {
  background: none;
  outline: none;
}

/* Special case for IE */
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Labels */
.range-labels {
  margin: 18px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; /* spread evenly */
  width: 100%;
}

.range-labels li {
  position: relative;
  text-align: center;
  color: #b2b2b2;
  cursor: pointer;
  flex: 1; /* makes all labels auto-adjust width */
}

.range-labels li::before {
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translateX(-40%);
  content: "";
  width: 5px;
  height: 5px;
  background: #b2b2b2;
  border-radius: 50%;
}

.range-labels .active {
  color: #37adbf;
}

.range-labels .selected::before {
  background: #37adbf;
}

.range-labels .active.selected::before {
  display: none;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
